.h{
    height: 100px; width: 100px;
}
.button{
    background-color: brown;
}
.gallery-img{
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition:transform 0.3s;

}

.slider{
    height: 600px;
}
.carousel-item img{
    height: 600px;

}